
@{
    ViewBag.Title = "מסך הניהול";
}

<h2>שלום לך המנהלוס</h2>

אתה יכול לעשות שלל דברים נפלאים כמו:

<ul>
    <li>
        @Html.ActionLink("נהל את המוצרים", "Index", "AdminProducts")
    </li>
    <li>
        @Html.ActionLink("נהל את המשתמשים", "Index", "AdminUsers")
    </li>
    <li>
        @Html.ActionLink("נהל את ההזמנות", "Index", "AdminOrders")
    </li>
    <li>
        @Html.ActionLink("סטטיסטיקות", "Index", "AdminStats")
    </li>
</ul>
