@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>חנותתתת יהההה!</h1>
    <video controls id="main-video">
        <source src="~/Content/glisha.mp4" />
        תגית הוידאו לא נתמכת!
    </video>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>וואלק בא לכם לקנות איזה משהו מעיף</h2>
        <p>
            פה תוכלו לרכוש דברים נפלאים.
        </p>
    </div>
</div>